body {
    height:45%;
}

#innerBox {
    margin: auto;
    position: relative;
    text-align: center;
    background: whitesmoke;
    padding-top: 30px;
    border: 10px solid lightgray;
    padding-bottom: 30px;
}

#contactDiv {
    width: auto;
    min-height: auto;
    text-align: center;
    margin-top : 10px;
    /* border-radius: 50%; */
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    color: black;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    background: url('/assets/outdoors3.jpg');
    opacity: .9;
}

#contactForm input {
    margin-bottom: 25px;
    height: 30px;
    width: 200px;
}

#submit {
    width: 200px;
    height: 30px;
}

#submit:hover , #contactform input:hover {
    background: lightgray;
}

#contactForm textarea {
    margin-bottom: 25px;
    height: 200px;
    width: 300px;
}

#header {
    text-shadow: 10px 10px 10px black;
}