body {
    overflow-y: hidden;
}

#contactDiv {
    width: auto;
    height: auto;
    text-align: center;
    margin-top : 10px;
    border: 10px solid dimgray;
    /* border-radius: 50%; */
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    color: whitesmoke;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    background: linear-gradient(to right bottom, gray, #138A72, #138A72, #138A72, #138A72, #138A72, gray);
    opacity: .9;
}

#contactForm input {
    margin-bottom: 25px;
    height: 30px;
    width: 200px;
}

#submit {
    width: 200px;
    height: 30px;
}

#submit:hover , #contactform input:hover {
    background: lightgray;
}

#contactForm textarea {
    margin-bottom: 25px;
    height: 200px;
    width: 300px;
}

#header {
    text-shadow: 10px 10px 10px black;
}