<body>

    <div id="box">

        <br>
        <br>
        <br>

        <div id="addEvent">
            <!-- header1 -->
            <h1>Schedule An Event</h1>
            <h4>Enter Each Required Field Marked With *</h4>

            <h4>*Organizer Name*</h4>
            <select [(ngModel)]="orgId" style="width: 300px;">
                <option *ngFor="let organizer of organizers" value="{{organizer.id}}">
                    Name : {{organizer.name}}
                </option>
            </select>
            <h4>*Event Name*</h4>
            <input style="width: 300px" type="text" [(ngModel)]="eventName" placeholder="Enter Event Name Here : ">
            <br>
            <h4>*Event Category*</h4>
            <select style="width: 100px" [(ngModel)]="category">
                <option [ngValue]=null></option>
                <option value="Friends">Friends</option>
                <option value="Family">Family</option>
                <option value="Work">Work</option>
            </select>
            <br>
            <h4>*Date*</h4>
            <input style="width: 300px" type="date" [(ngModel)]="eventDate" value="YYYY-MM-DD" min="2021-07-07"
                max="2025-12-31">
            <br>
            <br>

            <button type="button" class="btn btn-success" id="button1" (click)="addEvent()">Add Event</button>

            <br>
            <br>

        </div>

        <br>
        <br>
        <br>

    </div>

</body>