body {
    width: 100%;
    height: 100%;
    background-attachment: fixed; 
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

#particles-js {
    background: url("yellobg.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;

    overflow: scroll;
}

button:hover {
    background-color: black;
    border: 1px solid black;
    color: whitesmoke;
}

#header {
    text-align: center;
    color: black;
    font-size: 60px;
    text-shadow: 30px 30px 30px black;
    margin-top: 10px;
    background: whitesmoke;
    border: 1px solid black;
}

#searchResult {
    text-align: center;
    color: black;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000000;
    background: whitesmoke;
    border: 5px solid black;
    margin: auto;
    width: 40%;
    margin-top: 10px;
}

#searchResult img {
    height: 450px;
    width: 400px;
}

input {
    text-align: center;
}

#selection {
    margin: 0 auto;
    text-align: center;
    border: 10px solid black;
    text-shadow: 10px 10px 10px #000000;
    background: linear-gradient(to right bottom, yellow, black);
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
}

#waltersHead {
    position: relative;
    left: 65%;
    overflow: hidden;
}

#selection button, input {
    font-size: 20px;
}